/* .credit-bubble {
    position: "fixed";
    bottom: 40px;
    background-color: rgba(142, 26, 26, 0.8);
    color: #fff;
    display: flex;
    align-items: "center";
    justify-content: "center";
    cursor: "pointer";
    transition: "all 0.3s ease";
    overflow: "hidden";
    font-size: 16px;
} */