.nav-buttons {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: center;
  margin-top: 2em;
  gap: 0.5em;
}


/*  flex 1: makes both buttons the same width */
.nav-button {
  max-width: 100px;
  flex: 1; 
  padding: 0.75rem 1.25rem;
  margin: 0.5em 0;
  font-size: 0.8em;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
}

.nav-button-primary {
  background-color: var(--color-primary);
  color:aliceblue;
}

.nav-button-primary:hover {
  background-color: #5a52d5; /* slightly darker blue */
}

.nav-button-secondary {
  background-color: #eeecec;
  /* color:var(--color-primary); */
}

.nav-button-secondary:hover {
  background-color: #ddd8d8;
  color:#fff;
}

